.landing-skills {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  max-width: 90%;
  margin-top: -40px;
  margin-left: auto;
  padding: 40px 40px 60px 0;
  background-color: $white;
  box-shadow: 16px 16px 40px rgba($black, 0.15);
  perspective: 80px;
  transform: translateZ( calc(var(--z) * 1px) );

  @include breakpoint($medium-up) {
    width: 63%;
    max-width: 1300px;
    margin-top: -60px;
    margin-left: 37%;
    padding: 60px 60px 100px 0;
  }
}

.skills-list {
  margin-left: 40px;
  list-style-type: none;

  @include breakpoint($medium-up) {
    margin-left: 60px;
  }

  &:nth-child(1) {
    transform: translateZ( calc(var(--z) * 1px) );
  }
  &:nth-child(2) {
    transform: translateZ( calc(var(--z) * 2px) );
  }
}

.skill {
  margin-top: 0.6rem;
  list-style-type: none;
}
