// Breakpoints

$bp400: 400px;
$bp600: 600px;
$bp900: 900px;
$bp1000: 1000px;
$bp1300: 1300px;

// Ranges starting form a breakpoint
$up400: ( min:  $bp400 );
$up600: ( min:  $bp600 );
$up900: ( min: $bp900 );
$up1000: ( min: $bp1000 );
$up1300: ( min: $bp1300 );

// Ranges between breakpoints
$range400-600: ( min: $bp400, max: #{$bp600 - 1} );
$range600-900: ( min: $bp600, max: #{$bp900 - 1} );

// Ranges up to a breakpoint
$down400: ( max: #{$bp400 - 1} );
$down600: ( max: #{$bp600 - 1} );
$down900: ( max: #{$bp900 - 1} );
$down1000: ( max: #{$bp1000 - 1} );
$down1300: ( min: #{$bp1300 - 1} );
