.col-person {
  background-color: $white;
  // transform: translateZ( calc(var(--z) * 2px) );
}

.portrait {

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.contacts {
  display: flex;
  perspective: 80px;
}

.contact-anchor {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: auto;
  flex-grow: 2;
  height: 60px;
  padding-top: 0.6rem;
  color: $black;
  @include font(bold, false);
  transition: color 0.25s;

  &.tel {
    background-color: rgba($black, 0.05);
    // transform: translateZ( calc(var(--z) * 8px) );
  }
  &.mail {
    background-color: rgba($black, 0.1);
    // transform: translateZ( calc(var(--z) * 4px) );
  }

  &:hover {
    color: $red;
  }
}

.about-copy {
  padding: 30px;

  @include breakpoint($medium-up) {
    padding: 60px;
  }
}

.about-copy p {

  &:not(last-child) {
    margin-bottom: 1rem;
  }
}
