// 1. caps
// 2. alignment

// =============== force caps
.v-caps {
  text-transform: uppercase;
}

// =============== alignment
.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}


.nowrap {
  white-space: nowrap;
}


// custom content
// content from cms
.wysiwyg {
  @include custom-content();
  @include hyphen();

  body.device-mobile & {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word; // non-standard for blink/webkit
  }

  ul {
    @include unordered-list();
  }
  ol {
    @include ordered-list();
  }

  &.align-center {
    ul li { text-align: center; }
  }
}
