// basic formats for titles
// 1. sizes
// 2. colors

// ============== 1. sizes
.title-small {
  @include font(regular, false);
  font-size: 1.8rem;
  line-height: 1.25em;

  @include breakpoint($down900) {
    font-size: 1.6rem;
  }
  @include breakpoint($up900) {
    font-size: 1.8rem;
  }

  &.title-white {
    @include font(regular, true);
    color: $white;
  }
}


.title-regular {
  @include font(bold);
  font-size: 2.0rem;
  line-height: 1.25em;

  @include breakpoint($up600){
    font-size: 2.2rem;
  }

  @include breakpoint($up1300){
    font-size: 2.4rem;
  }
}

.title-medium {
  @include font(bold);
  font-size: 2.5rem;
  line-height: 1.0em;
  letter-spacing: 0.03em;

  @include breakpoint($up600){
    font-size: 3.0rem;
  }

  @include breakpoint($up1300){
    font-size: 3.0rem;
  }
}

.title-large {
  @include font(bold);
  font-size: 4rem;
  line-height: 1.1em;

  @include breakpoint($up600){
    font-size: 6.5vw;
  }

  @include breakpoint($up900){
    font-size: 6rem;
  }
}


// ============== 2. colors
.title-black {
  color: $black;
}

.title-grey {
  color: rgba($black, 0.4);
}

.title-white {
  @include font(bold, true);
  color: $white;
}

