.grid {
  perspective: 50px;

  @include breakpoint($medium-up) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &.grid-landing {
    padding-top: 12vw;
  }
}

.grid-item {
  position: relative;
  display: flex;
  min-height: 35vh;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  padding: 30px;

  @include breakpoint($medium-up) {
    flex-basis: 50%;
  }
  @include breakpoint($large-up) {
    flex-basis: 33.33%;
    padding: 60px;
  }

  .grid-landing & {
    @include breakpoint($medium-down) {
      width: 80%;
    }
  }
}
