// font-smoothing

@mixin font-smoothing($light-text: true) {
  @if $light-text == true {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  @else {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}


@mixin font($type:regular, $fontsmoothing: false) {
  @if $type == bold {
    font-family: $font-type-title;
    font-weight: 300;
    font-style: normal;
  }
  @if $type == regular {
    font-family: $font-type-copy;
    font-weight: 300;
    font-style: normal;
  }
  @if $fontsmoothing == true {
    @include font-smoothing(true);
  }
}


// The hyphens property controls hyphenation of text in block level elements.
// src: https://justmarkup.com/log/2015/07/dealing-with-long-words-in-css/
@mixin hyphen {
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
