.grid {
  @include breakpoint($up600) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &.grid-landing {
    padding-top: 12vw;

    @include breakpoint($up1000) {
      width: 80%;
      margin-right: auto;
      margin-left: auto;
    }

    @include breakpoint($up1300) {
      width: 66%;
    }
  }
}

.grid-item {
  position: relative;
  display: flex;
  min-height: 35vh;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  padding: 30px;

  @include breakpoint($up600) {
    flex-basis: 50%;
  }
  @include breakpoint($up900) {
    flex-basis: 33.33%;
    padding: 60px;
  }

  .grid-landing & {
    @include breakpoint($down1000) {
      width: 80%;
      flex-basis: 80%;
      margin-right: auto;
      margin-left: auto;
    }

    @include breakpoint($down400) {
      width: calc(100% - 4rem);
    }

    @include breakpoint($up1000) {
      flex-basis: 50%;
    }
  }
}
