.grid-item {
  display: flex;
  min-height: 35vh;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  padding: 30px;

  @include breakpoint($medium-up) {
    flex-basis: 50%;
  }
  @include breakpoint($large-up) {
    flex-basis: 33.33%;
    padding: 60px;
  }
}

.grid-item {
  background-color: $white;

  &:nth-child(5n + 1) {
    background-color: rgba($black, 0.1);
  }
  &:nth-child(5n + 2) {
    background-color: rgba($black, 0.15);
  }
  &:nth-child(5n + 3) {
    background-color: rgba($black, 0.05);
  }
  &:nth-child(5n + 4) {
    background-color: rgba($black, 0.2);
  }
}

.item-header {}

.item-title {}

.item-copy {}

.item-anchor {}
