.grid-item {
  background-color: $white;

  &:nth-child(5n + 1) {
    background-color: rgba($black, 0.1);
  }
  &:nth-child(5n + 2) {
    background-color: rgba($black, 0.15);
  }
  &:nth-child(5n + 3) {
    background-color: rgba($black, 0.05);
  }
  &:nth-child(5n + 4) {
    background-color: rgba($black, 0.2);
  }
}

.item-header {}

.item-title {}

.item-copy {}

.item-anchor {}
