.not-found {
  display: flex;
  flex-direction: column;
  position: relative;
  background-image: linear-gradient(rgba($white, 0.05), rgba($white, 0.05));
  background-position: right bottom;
  background-repeat: no-repeat;
  perspective: 80px;

  @include breakpoint($large-down) {
    height: calc(100vh - #{$header-height * 2});
    justify-content: center;
    align-items: center;
    background-size: 62% 50%;
    transform: translateY(-1em);
  }
  @include breakpoint($large-up) {
    height: calc(100vh - #{$header-height});
    padding-bottom: 5vw;
    padding-left: 8vw;
    justify-content: flex-end;
    background-size: 62% 62%;
  }
}

.not-found-title {
  @include font(bold, true);
  line-height: 0.9em;
  color: $white;
  transform: translateZ( calc(var(--z) * 2px) );

  @include breakpoint($large-down) {
    font-size: 18vw;
  }
  @include breakpoint($large-up) {
    font-size: 12vw;
  }
}
