.server {}

.server-heading {}

.server-specs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.server-spec {
  width: 85px;
  margin-top: 3rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

.cdn-false.server-spec {
  opacity: 0.4;
}

.server-icon {
  display: block;
  width: 50px;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}

.server-label {
  display: block;
  width: 100%;
  margin-top: 1rem;
  text-align: center;
}
