.landing-grid {
  display: flex;
  flex-wrap: wrap;
  //justify-content: center;
}

.tag-box {
  //flex-basis: 25%;
  //flex-grow: 2;
  //min-height: 15vh;
  width: 50vw;
  padding: 20px;
  text-align: center;

  @include breakpoint($medium-up) {
    width: 33.33vw;
  }
  @include breakpoint($large-up) {
    width: 20vw;
  }

  &:nth-child(1) {
    height: 25vw;

    @include breakpoint($medium-up) {
      height: 16.665vw;
    }
    @include breakpoint($large-up) {
      height: 10vw;
    }
  }
  &:nth-child(2) {
    height: 25vw;

    @include breakpoint($medium-up) {
      height: 33.33vw;
    }
    @include breakpoint($large-up) {
      height: 20vw;
    }
  }
  &:nth-child(3) {
    height: 25vw;

    @include breakpoint($medium-up) {
      height: 16.665vw;
    }
    @include breakpoint($large-up) {
      height: 10vw;
    }
  }
  &:nth-child(4) {
    height: 25vw;

    @include breakpoint($medium-up) {
      height: 33.33vw;
    }
    @include breakpoint($large-up) {
      height: 20vw;
    }
  }
  &:nth-child(5) {
    height: 25vw;
    margin-right: 50vw;

    @include breakpoint($medium-up) {
      height: 16.665vw;
      align-self: flex-end;
      margin-right: 0;
    }
    @include breakpoint($large-up) {
      height: 10vw;
      align-self: flex-start;
    }
  }
  &:nth-child(6) {
    height: 25vw;
    margin-left: 50vw;

    @include breakpoint($medium-up) {
      height: 16.665vw;
      margin-left: 0;
    }
    @include breakpoint($large-up) {
      height: 10vw;
    }
  }
  &:nth-child(7) {
    height: 25vw;
    margin-right: 50vw;

    @include breakpoint($medium-up) {
      height: 16.665vw;
      margin-right: 0;
    }
    @include breakpoint($large-up) {
      height: 10vw;
      margin-right: 40vw;
      margin-left: 20vw;
    }
  }
  &:nth-child(8) {
    height: 25vw;

    @include breakpoint($medium-down) {
      width: 100vw;
    }
    @include breakpoint($medium-up) {
      height: 33.33vw;
      margin-top: 16.665vw;
    }
    @include breakpoint($large-up) {
      height: 20vw;
      margin-top: 0;
      margin-left: 20vw;
    }
  }
  &:nth-child(9) {
    height: 25vw;
    margin-left: auto;

    @include breakpoint($medium-up) {
      height: 16.665vw;
      margin-left: 0;
    }
    @include breakpoint($large-up) {
      height: 10vw;
      margin-left: 20vw;
    }
  }
}


.tag-box {
  background-color: $white;
  background-size: cover;

  &:nth-child(odd) {
    background-image: linear-gradient(rgba($black, 0.06), rgba($black, 0.06));
  }

  //&:nth-child(5n + 1) {
  //  background-image: linear-gradient(rgba($black, 0.04), rgba($black, 0.04));
  //}
  //&:nth-child(5n + 2) {
  //  background-image: linear-gradient(rgba($black, 0.13), rgba($black, 0.13));
  //}
  //&:nth-child(5n + 3) {
  //  background-image: linear-gradient(rgba($black, 0.08), rgba($black, 0.08));
  //}
  //&:nth-child(5n + 4) {
  //  background-image: linear-gradient(rgba($black, 0.1), rgba($black, 0.1));
  //}
}

.tag-title {
  display: flex;
  align-items: center;
  justify-content: center;
  @include font(bold, false);
  font-size: 2.4rem;
}
