.landing-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tag-box {
  flex-basis: 25%;
  flex-grow: 2;
  padding: 20px;
  min-height: 15vh;
}


.tag-box {
  background-color: $white;
  background-size: cover;

  &:nth-child(5n + 1) {
    background-image: linear-gradient(rgba($black, 0.04), rgba($black, 0.04));
  }
  &:nth-child(5n + 2) {
    background-image: linear-gradient(rgba($black, 0.13), rgba($black, 0.13));
  }
  &:nth-child(5n + 3) {
    background-image: linear-gradient(rgba($black, 0.08), rgba($black, 0.08));
  }
  &:nth-child(5n + 4) {
    background-image: linear-gradient(rgba($black, 0.1), rgba($black, 0.1));
  }
}

.tag-title {
  display: flex;
  align-items: center;
  justify-content: center;
  @include font(bold, false);
  font-size: 2.4rem;
}
