.landing-header {
  position: relative;
  padding-top: 5vw;
  padding-left: 8vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  @include breakpoint($large-down) {
    padding-bottom: calc(5vw + #{$header-height});
    min-height: calc(100vh - #{$header-height * 2});
  }
  @include breakpoint($large-up) {
    padding-bottom: calc(5vw + #{$header-height});
    min-height: calc(100vh - #{$header-height});
  }
}

.landing-header:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(23deg, rgba($red, 0.8), rgba($orange, 0.8)),
    url(/images/design/intro-header.jpg);
  background-size: cover;
  background-position: center, 100% 20%;
  z-index: 1;
}

.landing-title,
.landing-title-sub {
  position: relative;
  z-index: 2;
}

.landing-title {
  @include font(bold, true);
  line-height: 0.9em;
  color: $white;

  @include breakpoint($large-down) {
    font-size: 20vw;
  }
  @include breakpoint($large-up) {
    font-size: 12vw;
  }
}

.landing-title-sub {
  margin-top: 1em;
  padding-left: 5px;
  opacity: 0.7;
}
