.landing-cards {
  margin-top: 30vw;

  @include breakpoint($medium-up) {
    margin-top: 20vw;
  }
  @include breakpoint($large-up) {
    margin-top: 15vw;
  }
}

// grid in landing view
.grid-landing .grid-item {

  &:nth-child(1) {
    @include breakpoint($medium-down) {
    }
    @include breakpoint($medium-up) {
    }
    @include breakpoint($large-up) {
    }
  }
  &:nth-child(2) {
    z-index: 5;

    @include breakpoint($medium-down) {
      top: -15vw;
      margin-top: -15vw;
    }
    @include breakpoint($medium-up) {
    }
    @include breakpoint($large-up) {
    }
  }
  &:nth-child(3) {
    z-index: 1;

    @include breakpoint($medium-down) {
      top: -10vw;
      margin-top: -10vw;
    }
    @include breakpoint($medium-up) {
    }
    @include breakpoint($large-up) {
    }
  }
  &:nth-child(4) {
    z-index: 2;

    @include breakpoint($medium-down) {
      top: -30vw;
      margin-top: -30vw;
    }
    @include breakpoint($medium-up) {
      z-index: 5;
    }
    @include breakpoint($large-up) {
      z-index: 1;
    }
  }
}
