.project-body {
  padding-top: $spacing-large;
  padding-bottom: $spacing-large * 3;

  @include breakpoint($up900) {
    padding-bottom: $spacing-large * 3;
  }
}

.content-unit {
  margin-bottom: $spacing-large;
  padding-right: $spacing;
  padding-left: $spacing;

  &:last-child {
    margin-bottom: 0;
  }

  @include breakpoint($up600) {
    margin-bottom: $spacing-large * 3;
  }
}

.content-media {
  display: flex;
  flex-wrap: wrap;

  .media-caption {
    order: 2;

    @include breakpoint($down600) {
      margin-top: $spacing * 0.5;
    }

    @include breakpoint($up600) {
      flex-basis: 35%;
      flex-grow: 2;
      order: 1;
      padding-right: $spacing;
    }
  }

  .media-item {
    order: 1;

    @include breakpoint($up600) {
      flex-basis: 65%;
      flex-grow: 2;
      order: 2;
    }
  }
}

.vid-wrap {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

pre {
  margin-top: 2em;
  padding: 15px;
  background: #f8f8f8;
}
